/*Font import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*Basic page styling */

html,
body {
    background-image: url(/assets/images/pexels-pixabay-274506.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fafafa;
    min-height: 100%;
    margin: 0; 
    font-family: "Roboto", sans-serif;
}

/* Header Structure */ 

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#game-title {
    padding: 15px;
    margin-right: 10px;
    text-align: center;
    font-weight: 400;
    background-color: #226e57;
    height: fit-content;
    letter-spacing: 1px;
    border-radius: 14px;
}

#wrexham-badge {
    height: 200px;
    margin-left: -35px; 
}


/* Home page game structure */



#main-container {
    background-color: #ef4136;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    box-shadow: 5px 5px 1px #d65151;
    padding: 20px; 
}

#game-description {
    text-align: center;
    padding: 10px 30px 20px 30px;
    font-weight: 400; 
}

#buttons-container {
    text-align: center;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.button {
    margin: 20px;
    width: 30%;
    background-color: #226e57;
    color: #fafafa;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 1px 1px #226e57ab;
    padding: 6px;
}

.button:hover {
    transform: scale(1.2);
}


/* how to play styling */
#htp {
    text-align: center;
    font-weight: bolder;
}


#how-to-play {
    text-align: center; 
    margin: 10px 10px; 
    font-weight: 300;
}

.step-by-step {
    margin: 5px;
}

/* high score page styling */ 

#high-score-title {
    text-align: center;
    font-weight: bolder;
}

/* difficulty level styling */

#difficulty-container {
    display: flex;
    justify-content: space-around;
}

.difficulty-button {
    background-color: #226e57;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px #226e57ab;
    padding: 10px 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

/*Quiz styling */
#quiz-container {
    background-color: #ef4136;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    box-shadow: 5px 5px 1px #d65151;
    padding: 20px; 
}

#quiz-question {
    text-align: center;
    font-size: larger;
    font-weight: 500;
}

#choices {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

#choices button {
    background-color: #226e57;
    justify-content: normal;
    padding: 15px;
    margin: 15px;
    border: 0;
    box-shadow: 2px 2px 6px #226e57;
    border-radius: 4px;
    color: white;
}


/*Expanding buttons when hovered over*/ 
button:hover {
    transform: scale(1.2);
}

#button-container {
    text-align: center;
    margin: 20px; 
}

#button-container button {
    color: white;
    background-color: #226e57;
    border-radius: 5px;
    border: 0;
    padding: 10px;
}

#selected {
    background-color: #0e1c17;
}

#score {
    text-align: center;
}

#timer {
    text-align: center;
    font-weight: 300;
}

#current-score {
    text-align: center;
    font-weight: 300;
}


