/*Font import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*Basic page styling */

html,
body {
    background-image: url(../images/Photo-29-03-2024,-16-24-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fafafa;
    min-height: 100vh;
    margin: 0; 
    font-family: "Roboto", sans-serif;
}

/* Header Structure */ 

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#game-title {
    padding: 15px;
    margin-right: 25px;
    margin-top: 49px;
    text-align: center;
    font-weight: 400;
    background-color: #226e57;
    height: fit-content;
    letter-spacing: 1px;
    border-radius: 14px;
}

#wrexham-badge {
    height: 200px;
    margin-left: -20px;
}

.fa-house {
    color: white; 
}


/* Home page game structure */

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    background-color: #ef4136;
    border-radius: 25px;
    box-shadow: 5px 5px 1px #d65151;
    padding: 20px; 
    margin: 10px;
    width: 50%;
    height: fit-content;
}

#game-description {
    text-align: center;
    padding: 10px 30px 20px 30px;
    font-weight: 400; 
}

.buttons-container {
    text-align: center;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.button {
    margin: 20px;
    width: 30%;
    background-color: #226e57;
    color: #fafafa;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 1px 1px #226e57ab;
    padding: 6px;
}

.button:hover {
    transform: scale(1.2);
}


/* how to play styling */
#htp {
    text-align: center;
    font-weight: bolder;
}

#htp-container {
    display: flex;
    justify-content: center;   
}

#how-to-play {
    text-align: center; 
    margin: 10px 10px; 
    font-weight: 300;
}

.step-by-step {
    margin: 5px;
}

/* high score page styling */ 

#high-score-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

#highscores p {
    text-align: center; 
}

#clear-high-score-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

#clear-highscore {
    background-color: #226e57;
    color: white;
    border: 0;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px #226e57;
}

/* difficulty level styling */
#difficulty-main-container {
    background-color: #ef4136;
    border-radius: 25px;
    box-shadow: 5px 5px 1px #d65151;
    padding: 20px; 
    margin: 10px;
    height: fit-content;
}

#difficulty-container {
    text-align: center;
    padding-bottom: 30px; 
}

#difficulty-title {
    padding: 0px 30px 20px;
    text-align: center;
}

.difficulty-button {
    background-color: #226e57;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px #226e57ab;
    padding: 10px 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    margin: 20px;
}

/*Quiz styling */
#quiz-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#quiz-container {
    background-color: #ef4136;
    border-radius: 25px;
    box-shadow: 5px 5px 1px #d65151;
    padding: 20px; 
    width: 500px;
}

#quiz-question {
    text-align: center;
    font-weight: 500;
    margin-top: 20px; 
}

#choices {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

#choices button {
    background-color: #226e57;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 15px;
    border: 0;
    box-shadow: 2px 2px 6px #226e57;
    border-radius: 4px;
    color: white;
}

#submit-form {
    text-align: center;
}

#submit-form input {
    color: white;
    background-color: #226e57;
    border: 0;
    padding: 8px;
    margin-bottom: 5px;
}

#submit-form:focus {
    background: transparent;
}

/*Expanding buttons when hovered over*/ 
button:hover {
    transform: scale(1.2);
}

#next-question-container {
    margin: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#next-question-container button {
    color: white;
    background-color: #226e57;
    border-radius: 5px;
    border: 0;
    padding: 10px;
}

#score {
    text-align: center;
}

#timer {
    text-align: center;
    font-weight: 300;
}

#current-score {
    text-align: center;
    font-weight: 300;
}


@media screen and (max-width: 1200px) {
    #home-container {
        text-align: center;
    }
    
    #main-container {
        padding: 55px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px;
        margin: 10px;
    }

    button:hover {
        transform: scale(1.1);
    }

    .difficulty-button {
        font-size: larger; 
    }

    #choices {
        flex-direction: column;
    }
}

/* Media queries for screen sizes with the max width of 992px*/

@media screen and (max-width: 992px) {
    
    #game-title {
        padding: 20px; 
    }
    
    #main-container{
        box-shadow: 0 0;
    }

    .buttons-container {
        flex-direction: column;
        margin-top: 0;
        align-items: center;
    }

    .button {
        padding: 14px;
        width: 40%;
    }

   .difficulty-button {
        font-size: large; 
   }

   #quiz-container {
        margin: 5px;
        box-shadow: 0 0;
        padding: 20px;
        width: 60%;
   }  

   #choices {
        flex-direction: column;
   }

}

/* Media queries for screen sizes with the max width of 768px*/

@media screen and (max-width: 768px) {
   #main-container {
        padding: 20px;
   }
   
    #header-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
   }
   
    #game-title {
        padding: 7px; 
        margin: 15px;
    }

    #difficulty-title {
        padding: 0;
    }

    #wrexham-badge {
        height: 100px;
        margin-left: 0;
    }

    #game-description {
        padding: 0;
    }

    #choices {
        align-items: center;
    }

    .buttons-container {
        flex-direction: column;
        margin-top: 0;
        align-items: center;
    }
    
    #how-to-play {
        margin: 0; 
    }

    #quiz-container {
        font-size: medium;
    }

    #choices button {
        font-size: medium;
        width: -webkit-fill-available;
    }
    
    #next-question-container button {
        font-size: medium;
    }
}